<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-muted fst-italic">MiniProject &copy; MineCraftWebShop р╕кр╕│р╕лр╕гр╕▒р╕Ър╣Бр╕нр╕Фр╕бр╕┤р╕Щр╣Ар╕Лр╕┤р╕Яр╣Ар╕зр╕нр╕гр╣М ЁЯСЙ <a href="https://cloud.mongodb.com/v2/65350da16311996ad4791654#/metrics/replicaSet/65350dcdcf346c07d25323a2/explorer/test/blogposts/find" target="_blank" >Click</a> ЁЯСИ</div>
            </div>
        </div>
    </div>
</footer>