<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') %> 
    <body>
        <%- include('layouts/navbar') %> 
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/server-lobby.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>- เข้าสู่ระบบ 😚-</h1>
                            <h3>To MinePower</h3>
                            <h4>Web-Shop</h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form action="/users/login" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <label for="title">Username - ชื่อผู้ใช้งาน</label>
                                    <input class="form-control" id="username" name="username" type="text" placeholder="ชื่อผู้ใช้งาน" data-sb-validations="required" />
                                </div>
                                <div class="form-floating">
                                    <label for="title">Password - รหัสผ่าน</label>
                                    <input class="form-control" id="password" name="password" type="password" placeholder="รหัสผ่าน" data-sb-validations="required" />
                                </div>
                                <br />

                                <button class="btn btn-primary text-uppercase" type="submit">เข้าสู่ระบบ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer') %> 
        <%- include('layouts/scripts') %> 
    </body>
</html>
